@import '../../shared/variables.scss';

.NotFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: $light-green;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}