// Purple
$dark-purple: #42296E;
$mid-purple: #9a72df;
$light-purple: #ddc9ff;

// Green
$light-green: #4dbac3;

// Brown
$light-brown: #e3e1cd;

//grey
$grey: #5A5A5A;
$mid-grey: #bebebe;
$light-grey: #F1F1F1;

